# Lab | Working with APIs

### Instructions

---------------------------------------------------------------------------------------------
Following the class example, create a function that returns other flight relevant information.

-----------------------------------------------------------------------------------------------

#### 1. Airport API - GET Search airports by free text

------------------------------------------------------------------------------------------------
Gets the list of airports with ICAO or IATA code matching the search term case-insensitively and airports with airport or city name containing the search term case-insensitively.

-------------------------------------------------------------------------------------------

In [1]:
import requests

# Search airports by free text
url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

querystring = {"q":"luxembourg","limit":"10"}

headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }

response = requests.get(url, headers=headers, params=querystring)

result = response.json()
result

{'searchBy': 'luxembourg',
 'count': 1,
 'items': [{'icao': 'ELLX',
   'iata': 'LUX',
   'name': 'Luxembourg -Findel',
   'shortName': '-Findel',
   'municipalityName': 'Luxembourg',
   'location': {'lat': 49.6266, 'lon': 6.21152},
   'countryCode': 'LU'}]}

In [2]:
import pandas as pd

# Normalize the response

r_json = response.json()
r_json['items']

[{'icao': 'ELLX',
  'iata': 'LUX',
  'name': 'Luxembourg -Findel',
  'shortName': '-Findel',
  'municipalityName': 'Luxembourg',
  'location': {'lat': 49.6266, 'lon': 6.21152},
  'countryCode': 'LU'}]

In [3]:
pd.json_normalize(r_json['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,ELLX,LUX,Luxembourg -Findel,-Findel,Luxembourg,LU,49.6266,6.21152

In [4]:
querystring = {"q":"berlin","limit":"10"}

response = requests.request("GET", url, headers=headers, params=querystring)
items = response.json()
items

{'searchBy': 'berlin',
 'count': 3,
 'items': [{'icao': 'EDDB',
   'iata': 'BER',
   'name': 'Berlin Brandenburg',
   'shortName': 'Brandenburg',
   'municipalityName': 'Berlin',
   'location': {'lat': 52.35139, 'lon': 13.493889},
   'countryCode': 'DE'},
  {'icao': 'EDDT',
   'iata': 'TXL',
   'name': 'Berlin -Tegel',
   'shortName': '-Tegel',
   'municipalityName': 'Berlin',
   'location': {'lat': 52.5597, 'lon': 13.287699},
   'countryCode': 'DE'},
  {'icao': 'KBML',
   'iata': 'BML',
   'name': 'Berlin Regional',
   'shortName': 'Regional',
   'municipalityName': 'Berlin',
   'location': {'lat': 44.5754, 'lon': -71.1759},
   'countryCode': 'US'}]}

In [5]:
result["items"][0]["countryCode"]

'LU'

In [6]:
pd.json_normalize(items['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,EDDB,BER,Berlin Brandenburg,Brandenburg,Berlin,DE,52.35139,13.493889
1,EDDT,TXL,Berlin -Tegel,-Tegel,Berlin,DE,52.55970,13.287699
2,KBML,BML,Berlin Regional,Regional,Berlin,US,44.57540,-71.175900

#### 2. Miscellaneous API - GET Distance / Flight time between airport

---------------------------------------------------------------------------
What is distance between airports? And What is approximate flight time between airports?

Returns: Distance and approximate flight time between airports, if both airports found.

------------------------------------------------------------------------------

In [7]:
# first we needed to get the icao codes, now we can look for time and distance of flights
icao_from = 'LPPT'
icao_to = 'EDDB'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"

response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'LPPT', 'iata': 'LIS', 'name': 'Lisbon Portela', 'shortName': 'Portela', 'municipalityName': 'Lisbon', 'location': {'lat': 38.7813, 'lon': -9.135919}, 'countryCode': 'PT'}, 'to': {'icao': 'EDDB', 'iata': 'BER', 'name': 'Berlin Brandenburg', 'shortName': 'Brandenburg', 'municipalityName': 'Berlin', 'location': {'lat': 52.35139, 'lon': 13.493889}, 'countryCode': 'DE'}, 'greatCircleDistance': {'meter': 2305328.27, 'km': 2305.33, 'mile': 1432.46, 'nm': 1244.78, 'feet': 7563412.96}, 'approxFlightTime': '02:55:00'}

In [8]:
result = response.json()
result

{'from': {'icao': 'LPPT',
  'iata': 'LIS',
  'name': 'Lisbon Portela',
  'shortName': 'Portela',
  'municipalityName': 'Lisbon',
  'location': {'lat': 38.7813, 'lon': -9.135919},
  'countryCode': 'PT'},
 'to': {'icao': 'EDDB',
  'iata': 'BER',
  'name': 'Berlin Brandenburg',
  'shortName': 'Brandenburg',
  'municipalityName': 'Berlin',
  'location': {'lat': 52.35139, 'lon': 13.493889},
  'countryCode': 'DE'},
 'greatCircleDistance': {'meter': 2305328.27,
  'km': 2305.33,
  'mile': 1432.46,
  'nm': 1244.78,
  'feet': 7563412.96},
 'approxFlightTime': '02:55:00'}

In [9]:
result['to']['icao']

'EDDB'

In [10]:
pd.json_normalize(response.json())

,approxFlightTime,from.icao,from.iata,from.name,from.shortName,from.municipalityName,from.location.lat,from.location.lon,from.countryCode,to.icao,...,to.shortName,to.municipalityName,to.location.lat,to.location.lon,to.countryCode,greatCircleDistance.meter,greatCircleDistance.km,greatCircleDistance.mile,greatCircleDistance.nm,greatCircleDistance.feet
0,02:55:00,LPPT,LIS,Lisbon Portela,Portela,Lisbon,38.7813,-9.135919,PT,EDDB,...,Brandenburg,Berlin,52.35139,13.493889,DE,2305328.27,2305.33,1432.46,1244.78,7563412.96

### Function that returns the time/distance between two airports

In [11]:
# headers won't change
headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }


def get_codes():

    location = input('Insert location:')
    print()

    url = "https://aerodatabox.p.rapidapi.com/airports/search/term"
    querystring = {"q":location.lower(), "limit":"10"}

    response = requests.get(url, headers=headers, params=querystring)
    codes = response.json()['items'] if 'items' in response.json() else location

    return codes


def choose_code():

    codes = get_codes()

    while type(codes) is str or len(set([code['shortName'] for code in codes])) != 1:

        if not codes:
            print('Try another location. Unable to find code for:', codes, '\n')
        else:
            print('More than one location found. Insert one of the following airports:', [code['shortName'] for code in codes], '\n')

        codes = get_codes()

    return codes[0]['icao']


def flight_distance_time(from_, to_):
    url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{from_}/distance-time/{to_}"
    response = requests.get(url, headers=headers)
    return pd.json_normalize(response.json()).T

In [12]:
print('[DEPARTURE]')
from_ = choose_code()
print('[DESTINATION]')
to_ = choose_code()

flight_df = flight_distance_time(from_, to_)
flight_df

[DEPARTURE]
Insert location:Lisbon

[DESTINATION]
Insert location:Frankfurt

More than one location found. Insert one of the following airports: ['Frankfurt-am-Main', 'Frankfurt-', 'Frankfurt-']

Insert location:Frankfurt-am-Main

                                            0
approxFlightTime                     02:25:00
from.icao                                LPPT
from.iata                                 LIS
from.name                      Lisbon Portela
from.shortName                        Portela
from.municipalityName                  Lisbon
from.location.lat                     38.7813
from.location.lon                   -9.135919
from.countryCode                           PT
to.icao                                  EDDF
to.iata                                   FRA
to.name                    Frankfurt-am-Main
to.shortName                Frankfurt-am-Main
to.municipalityName         Frankfurt-am-Main
to.location.lat                       50.0264
to.location.lon                      8.543129
to.countryCode                             DE
greatCircleDistance.meter          1874098.84
greatCircleDistance.km                 1874.1
greatCircleDistance.mile              1164.51
greatCircleDistance.nm                1011.93
greatCircleDistance.feet           6148618.25

#### 3. Miscellaneous API - GET Current local time at the airport

------------------------------------------------------------------------------------------------
What is the current local time at the airport?

----------------------------------------------------------------------------------------------

In [13]:
airport_code = 'ELLX'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{airport_code}/time/local"

headers = {
    "X-RapidAPI-Key": "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324",
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())
#print(response.status_code)

{'time': {'utc': '2024-03-29 19:08Z', 'local': '2024-03-29 20:08+01:00'}, 'timeZoneId': 'Europe/Luxembourg'}

#### 3. Miscellaneous API - GET Current local time at the airport

------------------------------------------------------------------------------------------------
What is the current weather at the airport?

---------------------------------------------------------------------------------------------

In [19]:
airport_code = 'ELLX'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{airport_code}/weather"

headers = {
    "X-RapidAPI-Key": "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324",
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())

[{'location': {'lat': 49.6266, 'lon': 6.21152}, 'airTemperature': {'c': 9.0, 'f': 48.0, 'k': 282.0}, 'dewPoint': {'c': 9.0, 'f': 48.0, 'k': 282.0}, 'pressure': {'hPa': 996.95, 'inHg': 29.44, 'mmHg': 747.77}, 'wind': {'speed': {'kt': 5.0, 'kmPerHour': 9.0, 'miPerHour': 6.0, 'meterPerSecond': 3.0}, 'direction': {'deg': 130.0, 'rad': 2.2689280275926285}}, 'visibility': {'meter': 5000.0, 'km': 5.0, 'mile': 3.11, 'nm': 2.7, 'feet': 16404.2}, 'report': 'ELLX 291850Z 13005KT 5000 BR SCT001 BKN003 09/09 Q0997 NOSIG', 'cloudBase': {'meter': 91.44, 'km': 0.09, 'mile': 0.06, 'nm': 0.05, 'feet': 300.0}, 'cloudCover': 'Broken', 'phenomenaGroups': ['AtmosphericObscurant'], 'validFrom': {'utc': '2024-03-29 19:00Z', 'local': '2024-03-29 20:00+01:00'}, 'validTo': {'utc': '2024-03-29 20:00Z', 'local': '2024-03-29 21:00+01:00'}}]

#### Function that returns additional airport destination info

In [21]:
# headers won't change
headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }


def get_codes():

    location = input('Insert location:')
    print()

    url = "https://aerodatabox.p.rapidapi.com/airports/search/term"
    querystring = {"q":location.lower(), "limit":"10"}

    response = requests.get(url, headers=headers, params=querystring)
    codes = response.json()['items'] if 'items' in response.json() else location

    return codes


def choose_code():

    codes = get_codes()

    while type(codes) is str or len(set([code['shortName'] for code in codes])) != 1:

        if not codes:
            print('Try another location. Unable to find code for:', codes, '\n')
        else:
            print('More than one location found. Insert one of the following airports:', [code['shortName'] for code in codes], '\n')

        codes = get_codes()

    return codes[0]['icao']


def to_local_current_time(from_, to_):
    url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{from_}/distance-time/{to_}"
    response = requests.get(url, headers=headers)
    
    result = response.json()
    airport_code = result['to']['icao']
    
    url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{airport_code}/time/local"
    
    response = requests.get(url, headers=headers)
    
    return pd.json_normalize(response.json()).T

def to_airport_weather(from_, to_):
    url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{from_}/distance-time/{to_}"
    response = requests.get(url, headers=headers)
    
    result = response.json()
    airport_code = result['to']['icao']
    
    url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{airport_code}/weather"
    
    response = requests.get(url, headers=headers)
    
    return pd.json_normalize(response.json()).T

In [24]:
print('[DEPARTURE]')
from_ = choose_code()
print('[DESTINATION]')
to_ = choose_code()

airport_uct = to_local_current_time(from_, to_)
airport_uct

[DEPARTURE]
Insert location:Lisbon

[DESTINATION]
Insert location:Frankfurt

More than one location found. Insert one of the following airports: ['Frankfurt-am-Main', 'Frankfurt-', 'Frankfurt-']

Insert location:Frankfurt-am-Main

                                 0
timeZoneId           Europe/Berlin
time.utc         2024-03-29 19:20Z
time.local  2024-03-29 20:20+01:00

In [25]:
airport_weather = to_airport_weather(from_, to_)
airport_weather

                                                                           0
report                     EDDF 291850Z AUTO 01005KT CAVOK 10/09 Q0999 NOSIG
cloudCover                                                             Clear
phenomenaGroups                                                           []
location.lat                                                         50.0264
location.lon                                                        8.543129
airTemperature.c                                                        10.0
airTemperature.f                                                        50.0
airTemperature.k                                                       283.0
dewPoint.c                                                               9.0
dewPoint.f                                                              48.0
dewPoint.k                                                             282.0
pressure.hPa                                                          998.99
pressure.inHg                                                           29.5
pressure.mmHg                                                          749.3
wind.speed.kt                                                            5.0
wind.speed.kmPerHour                                                     9.0
wind.speed.miPerHour                                                     6.0
wind.speed.meterPerSecond                                                3.0
wind.direction.deg                                                      10.0
wind.direction.rad                                                  0.174533
visibility.meter                                                      9700.0
visibility.km                                                            9.7
visibility.mile                                                         6.03
visibility.nm                                                           5.24
visibility.feet                                                     31824.15
validFrom.utc                                              2024-03-29 19:00Z
validFrom.local                                       2024-03-29 20:00+01:00
validTo.utc                                                2024-03-29 20:00Z
validTo.local                                         2024-03-29 21:00+01:00